extends layout

block content

    section.sidenav
      div.sidenav
        div.profile
          img(src="/images/bot_user.png", height="50" width="50", alt="no picture") 
          a.sidenav--a #{userName}
          a.sidenav--a--logout(href="/bots") Zu den Bots
          a.sidenav--a--logout(href="/logout") logout
          
        br
        div.sidenav--border--buttom 
        br
        div.bots
          each bots in bot_query  
            - var url = bots.image_path 
            //- var bot_id = bots._id
            img.sidenav--img(src=url alt="no picture" id = 'img_'+bots._id )
        div.add(onclick="showAdd()")
          a.sidenav--add +

    section
      div(id = "h1--admin-welcome")
        div.h1--admin-welcome
          h1.animated.zoomIn Herzlich willkommen in deinem Dashboard!

    section
      each bots in bot_query
        - var bot_id = bots._id
        div.hidden(id = bots._id)
          - var url = bots.image_path
          //--img.img--bot-admin(src=url, height="200" width="auto", alt="no picture")
          form.form--admin-imgupload(action='/update/imgupload' enctype='multipart/form-data' method='post').imgupload
            img.img--bot-admin(id = "imgupload" height="auto" width="200" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Heidi_Klum_Judges_Red_Carpet_event_April_2014_%28cropped%29.jpg/1280px-Heidi_Klum_Judges_Red_Carpet_event_April_2014_%28cropped%29.jpg").imgClicked
            input(type='file' id='upload' name='upload' onchange="this.form.submit()").hidden
            input(type = "text" id = "_id" name = "_id" value = bots._id).hidden 

          form.form--admin(action='/update' method='post').update
            input(type='text' id='name' name='name' value= bots.name).form--input-botname
            br
            input(type='textarea' id='description' name='description' value= bots.description rows="10" cols="30").form--input-botdescription
            br
            input(type='text' id='workspace_id' name='workspace_id' value= bots.workspace_id).form--input-botworkspace_id
            input(type='text' id='iam_apikey' name='iam_apikey' value= bots.iam_apikey).form--input-botiam_apikey
            br
            //--button(type = "button" id='isPublic' name='isPublic' value = bots.isPublic).form--input-botpublic verborgen
            div.input
                select(id='isPublic' name='isPublic')
                  option(id='isPublic' value="true") öffentlich
                  option(id='isPublic' value="false") verborgen
            br
            input(type = "text" id = "_id" name = "_id" value = bots._id).hidden 
            button(type='submit').form--button-bot Bot updaten
        
          



    section
      div.hidden(id = "addDIV")
        form.form--admin-imgupload(action='/update/imgupload' enctype='multipart/form-data' method='post').imgupload
            img.img--bot-admin(id = "imgupload" height="auto" width="200" src ="/images/bot_user.png").imgClicked
            input(type='file' id='upload' name='upload' onchange="this.form.submit()").hidden
        form.form--admin(action='/admin/newbot'  method='post')
          input(type='text' id='name' name='name' placeholder = "Name" ).form--input-addname 
          input(type='text' id='description' name='description' placeholder = "Description").form--input-adddescription
          input(type='text' id='workspace_id' name='workspace_id' placeholder = "Workspace-ID").form--input-addworkspace_id
          input(type='text' id='iam_apikey' name='iam_apikey' placeholder = "IAM_Apikey" ).form--input-addiam_apikey
          div.input
                select(id='isPublic' name='isPublic')
                  option(id='isPublic' value='true') öffentlich
                  option(id='isPublic' value='false') verborgen
          button(type='submit').form--button-bot Hinzufügen

            
            

    section.delete.hidden
          h2 Bot löschen
            br
            form(action='/delete' method='post').delete
              div.delete
              label(for='confirm') Ja, ich will.
              input.confirmTick(type='checkbox' id='confirm' name='confirm').delete
              br
              button(type='submit') delete

    script.
      const aBot = document.querySelectorAll('.sidenav--img');
      for (let elem of aBot){
          console.log(elem);
          elem.addEventListener('click', () => {sbot(elem);});
      }
      function sbot(elem){
          const preId = elem.id;
          useId = preId.split('_').pop();
          const x = document.getElementById(`${useId}`);
          if (x.style.display === "none") {
            x.style.display = "flex";
            $('#h1--admin-welcome').addClass('hidden');
          } 
          else if (x.style.display === 'flex') {
            x.style.display = "none";
          }
          else {
            x.style.display = "flex";
            $('#h1--admin-welcome').addClass('hidden');
          }
      }

      function showAdd() {
        var x = document.getElementById("addDIV");
        if (x.style.display === "none") {
            x.style.display = "flex";
            $('#h1--admin-welcome').addClass('hidden');
          } 
        else if (x.style.display === 'flex') {
          x.style.display = "none";
        }
        else {
          x.style.display = "flex";
          $('#h1--admin-welcome').addClass('hidden');
        }
      }     

      $('#imgupload').click(function(){
        $('#upload').click();
      });

      //- if ($("#isPublic").val() === "true") {
      //-     $("#isPublic").prop('value', 'true');
      //-   }
      //- else if ($("#isPublic").val() === "false") { 
      //-   $("#isPublic").prop('value', 'false');
      //-   }
      //- else {
      //-   $("#isPublic").prop('value', 'false');
      //- }

      //- $("#isPublic").click(function() {
      //-   var fired_button = $(this).val();
      //-   if (fired_button === "true") {
      //-     $("#isPublic").prop('value', 'false');
      //-     $("#isPublic").text("verborgen");
      //-     console.log("verborgen");
      //-     $("#isPublic").css({ 'background-color': '#9c3939', 'color': 'white' });
      //-   }
      //- else if (fired_button === "false") { 
      //-   $("#isPublic").prop('value', 'true');
      //-   $("#isPublic").text("öffentlich");
      //-   console.log("öffentlich");
      //-   $("#isPublic").css({ 'background-color': '#47dec6', 'color': 'white' });
      //-   }
      //- else {
      //-   $("#isPublic").prop('value', 'false');
      //-   $("#isPublic").text("verborgen");
      //-   console.log("verborgen");
      //-   $("#isPublic").css({'background-color': '#9c3939', 'color': 'white' });
      //- }
      //- });