extends layout

block content

  h2 Hallo #{userName}!
  a(href="/logout").nav--links  logout

  each bots in bot_query
    div.flip
      div.front(style= "background-image: url(" + bots.image_path + ")")
        h1.text-shadow #{bots.name}
      div.back
        form(action='/update' method='post')
          input.updateName(type='text' id='name' name='name' value= bots.name).form--input-admin 
          input.updateDescription(type='text' id='description' name='description' value= bots.description).form--input-admin 
          input.updateImageUrl(type='text' id='image_path' name='image_path' value= bots.image_path).form--input-admin 
          input.updateWorkspaceID(type='text' id='workspace_id_url' name='workspace_id_url' value= bots.workspace_id_url).form--input-admin 
          input.updateUsernameToken(type='text' id='username_token' name='username_token' value= bots.username_token).form--input-admin 
          input.updatePasswordToken(type='text' id='password_token' name='password_token' value= bots.password_token).form--input-admin 
          input.showDocumentID(type='text' id='_id' name='_id' value= bots._id).form--input-admin
          button(type='submit').form--button Bot updaten
        form(action='/delete' method='post')
          label(for='confirm') Bot löschen
          input.confirmTick(type='checkbox' id='confirm' name='confirm')
          button(type='submit') löschen
      

  div.flip
    div.front
      h1.text-shadow Neuen Bot hinzufügen
    div.back
      form(action='/admin/newbot' method='post')
        input(type='text' id='name' name='name' placeholder = "Name" ).form--input-admin 
        input(type='text' id='description' name='description' placeholder = "Beschreibung" ).form--input-admin 
        input(type='text' id='image_path' name='image_path' placeholder = "Image-URL" ).form--input-admin
        input(type='text' id='workspace_id_url' name='workspace_id_url' placeholder = "Workspace-ID" ).form--input-admin 
        input(type='text' id='username_token' name='username_token' placeholder = "Username_Token" ).form--input-admin 
        input(type='text' id='password_token' name='password_token' placeholder = "Passwort_Token" ).form--input-admin 
        button(type='submit').form--button Bot erstellen



    
