extends layout

block content

  section.insert
    h3 Credentials Eingeben
      form(action='/insert' method='post')
        div.input
          label(for='name') Name
          br
          input(type='text' id='name' name='name').input

        div.input
          label(for='description') Beschreibung
          br
          input(type='text' id='description' name='description').input

        div.input
          label(for='workspace_id') Workspace ID
          br
          input(type='text' id='workspace_id' name='workspace_id').input

        div.input
          label(for='user_token') Username Token
          br
          input(type='text' id='user_token' name='user_token').input

        div.input
          label(for='password_token') Passwort Token
          br
          input(type='text' id='password_token' name='password_token').input

          br
          button(type='submit') insert
