extends layout

block content

  section.front
  div.wrapper--nav
    div.container--nav
      ul.nav
        //a.nav--links(href="/login") test
        a.nav--links(href="/admin") Admin-Panel

  div.wrapper
    div.container
      img(height="40%" src="/images/bot_login.png")
      br
      br
      form(action='/login').form
        button.form--button-login
        
      form(action='/register')
        button.btn-2 Registrieren

      

      

      
