extends layout

block content

  section.front
    h2 meta.dating: botify!
    p Hier kommt dann die Frontpage rein.
    br
    div.bot_select
      a(href='/bot_select').bot_select zur Botübersicht
    
    h3 meta.meta
    div.login
      a(href='/login').login login
    br
    div.register
      a(href='/register').register register
    br
    div.admin
      a(href='/admin').admin admin

      
