extends layout


block content
  section.login
    h3 login
      div.input
        label(for='login') name
        br
        input(type='text' id='login' name='login').input

      div.input
        label(for='password') password
        br
        input(type='text' id='password' name='password').input

      br
      button(type='login') insert
