extends layout


block content
  section
    div.wrapper--nav
      div.container--nav
        ul.nav
          //a.nav--links(href="/login") test
          a.nav--links(href="/") zurück

    div.wrapper
      div.container
        h1(id="login") Login
        form(id="form" action='/auth' method='post').form
          input(type='text' placeholder = "Username" id='username' name='username').form--input-login
          input(type='password' placeholder = "Passwort" id='password' name='password').form--input-login
          button(id="login-button").form--button-login    

    script.
      $("#login-button").click(function(event){
          event.preventDefault();
        
        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
        document.getElementById("login").textContent="Willkommen bei Botify!";
        setTimeout(function(){ document.getElementById("form").submit();}, 1000);
        
      });