extends layout


block content
  section.register
    div.wrapper--nav
      div.container--nav
        ul.nav
          //a.nav--links(href="/login") test
          a.nav--links(href="/") zurück

    div.wrapper
      div.container
        h1(id='register') Registrierung
        form(id="form" action='/users' method='post').form
          input(type='text' placeholder = "Username" id='username' name='username').form--input-login 
          input(type='password' placeholder = "Passwort" id='password' name='password').form--input-login 
          button(id="register-button").form--button-register 

    script.
          $("#register-button").click(function(event){
              event.preventDefault();
            
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
            document.getElementById("register").textContent="Registrierung läuft";
            setTimeout(function(){ document.getElementById("form").submit();}, 1000);
            
          });