extends layout


block content
  section.register
    h3 register new account
    form(action='/insert' method='post')
        div.input
          label(for='login') name
          br
          input(type='text' id='login' name='login').input

        div.input
          label(for='password') password
          br
          input(type='password' id='password' name='password').input
          
        br
        button(type='submit') register!
