audio
  controls
  src="/local/Europahymne.mp3" 
  type="audio/mp3" 
    p Ihr Browser kann dieses Tondokument nicht wiedergeben. Es enthält eine Aufführung der Europahymne. Sie können es unter
        href="/local/Europahymne.mp3" 
        p diesem Link abrufen.