extends admin

block content

  section.update
        h2= bot.name
          br
          form(action='/admin/update' method='post').update
            div.input
              label(for='name') Name
              br
              input(type='text' id='name' name='name' value= bot.name).input

            div.input
              label(for='description') Beschreibung
              br
              input(type='text' id='description' name='description' value= bot.description).input

            div.input
              label(for='image_path') Profilbild (URL)
              br
              input(type='text' id='image_path' name='image_path' value= bot.image_path).input

            div.input
              label(for='workspace_id_url') Workspace ID URL
              br
              input(type='text' id='workspace_id_url' name='workspace_id_url' value= bot.workspace_id_url).input

            div.input
              label(for='username_token') Username Token
              br
              input(type='text' id='username_token' name='username_token' value= bot.username_token).input

            div.input
              label(for='password_token') Passwort Token
              br
              input(type='text' id='password_token' name='password_token' value= bot.password_token).input

              br
              button(type='submit') update
          

  section.delete
        h2 Bot löschen
          br