/* ====== font import ====== */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

html, body {
  background-image:linear-gradient(-45deg, #50a3a2 0%, #53e3a6 100%);
  height: 100%;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Source Sans Pro', sans-serif;
}
      
a {
  color: #00B7FF;
}


.boxtest {
  height: 100px;
  width: 200px
}

.klick-color {
  background-color: blueviolet;
}

h5 {
  font-weight: bold;
}

p {
  color: #53e3a6;
  font-size: 1.6em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxlenght {
  width: 300px;
  border-radius: 25px;
  border: 5px solid blueviolet;
  padding: 20px; 
  margin: 20px;
  background-color: white;
}

#clicked {

}

.welcome-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 8% 6% 81% 5%;
}

.welcome-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-wrap: nowrap;
}

.welcome-logo {
  flex-basis: 14%;
}

.welcome-logo-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-logo-text p {
  font-size: 1.6em;
  font-weight: bold;
  color: #53e3a6;
}

.welcome-button {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
}

.welcome-button.button-counter {
  background-color: #53e3a6;
}

.welcome-button.button-counter:hover{
  cursor: pointer;
 }

.welcome-button-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.welcome-button-text p {
  font-weight: bold;
  font-size: 1.5em;
}

.welcome-bot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

.welcome-bot-box {
  width: 300px;
  padding: 20px 20px 0px 20px;
  margin: 20px;
  background-color: white;
  max-height: 50%;
  border-radius: 30px;
  border-bottom: 20px solid #eeebf4;
}

.welcome-bot-box:hover{
  cursor: pointer;
  border-bottom: 20px solid #53e3a6;
 }

.welcome-bot-box.clicked {
  border-bottom: 40px solid #53e3a6;
}

.bot-name-description {
  display:flex;
  flex-wrap: nowrap
}

.bot-name {
  margin: auto;
  margin-left: 5%;
}

.bot-name p {
  font-weight: bold;
}

.bot-description {
  padding: 11px 0px 0px 0px;
}

.bot-img {

}

.bot-img img {
  border-radius: 50%;
}

.bot-box-mouse-hover {
  height: 20px;
}


/* .welcome-bot-box.clicked {
  background-color: #ffff00;
}

.clicked.bot-box-mouse-hover {
  background-color: #ffff00;
} */

#bot-hidden-text {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

/* custom scrolbarrr!*/
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.img--botselect-icon {
  height: 50px;
  cursor: pointer;
}