body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eeebf4;
  }
  
  a {
    color: #00B7FF;
  }
  
  .botlink {
    text-decoration: none;
    color: black;
  }
  
  .hidden {
    display: none;
  }
  
  p.show_id {
    font: 10px bold, monospace;
  }
  
  p.show_workspace_id_url {
    font: 10px bold, monospace;
  }
  
  p.show_username_token {
    font: 10px bold, monospace;
  }
  
  p.show_password_token {
    font: 10px bold, monospace;
  }
  
  p.show_password_token {
    font: 10px bold, monospace;
  }
  
  p.show_image_path {
    font: 10px bold, monospace;
  }
  
  p.show_document_id {
    font: 10px bold, monospace;
  }
  
  p.show_description {
    font: 12px "Monospace", monospace;
  }
  
  p.show_name {
    font: 16px bold, monospace;
  }
  
  p.showDocumentID {
    font: 10px bold, monospace;
  }
  
  
  
  div.botdocument {
    margin: auto;
    padding: 1%;
    padding-top: 0;
  }
  
  div.botdocument:hover {
    background: lightsalmon;
    cursor: pointer;
  }
  
  
  .clicked {
    background-color: lightsalmon;
  }
  
  label {
    font: 14px bold, monospace;
  }

  
  .center {
    margin: 0 auto;
  
    width: 100%;
    height: 100%;
  }
  
  .insert {
    float: left;
  
    margin: auto;
    padding: 3%;
  }
  
  .show {
    float: left;
    margin: auto;
    padding: 3%;
  }
  
  .update {
    float: left;
    margin: auto;
    padding: 3%;
  }

  .imgupload {
    float: left;
    margin: auto;
    padding: 3%;
  }
  
  .delete {
    /*float: left;*/
    margin: auto;
    padding: 3%;
  }

  .register {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
  }

  .login {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
  }